<p>template-driven-form-demo works!</p>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <form #f="ngForm" (ngSubmit)="OnSubmit(f)">

                {{f.value|json}}
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control" placeholder="Enter your name" name="username" ngModel
                        #myusername="ngModel" required minlength="4" pattern="admin">
                    <div class="alert alert-danger"
                         *ngIf="myusername.touched && !myusername.valid">
                        **Please enter the Username
                        <div class="alert alert-danger"
                             *ngIf="myusername.errors.minlength">
                            **Minimum lenght {{myusername.errors.minlength.requiredLength}}
                        </div>
                        <div class="alert alert-danger" *ngIf="myusername.errors.patterns">
                            **User correct pattern
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">comment</label>
                        <textarea ngModel #comment="ngModel" name="comment" cols="30" class="form-control"
                            placeholder="Enter the Comment" rows="10" required></textarea>

                        <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid"> ** Please Enter the
                            Comment

                        </div>

                    </div>

                    <div class="checkbox">
                        <label for="">
                            <input type="checkbox" ngModel name="issubscribed" #mail="ngModel" required> I Agree All the
                            Terms & Conditions.
                        </label>
                    </div>

                    <div class="radio">
                        <label for="con">
                            <input ngModel #contact ="ngModel" type="radio" name="con" id="con" value="email" required>
                            Email
                        </label>
                    </div>
                    <div class="radio">
                        <label for="con1">
                            <input ngModel #contact="ngModel" type="radio" name="con" id="con1" value="phone" required>
                            Phone
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="contact">contact Method</label>
                        <select ngModel name="contact" id="contact" class="form-control" required>
                            <!-- <option *ngFor="let item of contactMethod"
                     [value]="item.id">{{item.name}} </option>
 -->
                            <option *ngFor="let item of contactMethod" [ngValue]="item">{{item.name}} </option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="myemail">Email Id</label>
                        <input ngModel #email="ngModel" type="email" name="email" id="myemail" class="form-control"
                            placeholder="Enter the Email ID...." [pattern]="EMAIL_PATTERN" required>
                        <div class="alert alert-danger"
                             *ngIf="email.touched && !email.valid ">
                          Please Enter the Email ID
                            <div *ngIf="email.errors.pattern">
                                ** Please Enter the Appropriate Email ID
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <button [disabled]="!f.valid" class="btn btn-success">Submit</button>
            </form>
        </div>

    </div>

</div>
